<!--
  templateType: quote
  isAvailableForNewContent: true
  label: Conversion Crew quote template
  screenshotPath: ../images/modern.png
-->

{% extends './layouts/base.html' %}

{% block stylesheet %}
  {{ require_css(get_asset_url("../css/modern.css")) }}
  {{ require_css(get_asset_url("../css/cc-quote-2024.css")) }}
{% endblock stylesheet %}

{% block settings %}
  {% module "banner_img" path="@hubspot/image" label='Select a background image', src='https://www.conversioncrew.com/hubfs/Website/Website%202023/Cc-pim.jpg', export_to_template_context=True %}
  {% module "sign" path="@hubspot/text", label="Sign", value="Sign", export_to_template_context=True %} 
  {% module "date" path="@hubspot/text", label="Date", value="Date", export_to_template_context=True %} 
  {% module "company" path="@hubspot/text", label="Company", value="Company", export_to_template_context=True %} 
  {% module "for" path="@hubspot/text", label="For", value="For", export_to_template_context=True %} 
  {% module "enddate" path="@hubspot/text", label="End date", value="End date", export_to_template_context=True %} 
  {% module "reference_title" path="@hubspot/text", label="Reference", value="Reference", export_to_template_context=True %} 
  {% module "comments_title" path="@hubspot/text", label="Comments", value="Comments", export_to_template_context=True %} 
  {% module "terms_title" path="@hubspot/text", label="Purchase terms", value="Purchase terms", export_to_template_context=True %} 
{% endblock settings %}
{% block body %}

{% require_css %}
  <style>
    .line-items__table #line-items__table-body {
      border-top: 2px solid rgba({{ theme.global_colors.primary_color.color|convert_rgb }}, {{ theme.global_colors.primary_color.opacity / 100 }});
      border-bottom: 2px solid rgba({{ theme.global_colors.primary_color.color|convert_rgb }}, {{ theme.global_colors.primary_color.opacity / 100 }});
    }

    {% if module_data|attr('logo')|attr('hidden') %}
      .hs-quotes .header { display: none; }
    {% endif %}

    {% if module_data|attr('quote_name')|attr('hidden') &&
      module_data|attr('buyer_company')|attr('hidden') &&
      module_data|attr('buyer_contacts')|attr('hidden') &&
      module_data|attr('reference')|attr('hidden') &&
      module_data|attr('quote_created')|attr('hidden') &&
      module_data|attr('quote_expires')|attr('hidden') &&
      module_data|attr('sender_user')|attr('hidden')
    %}
      .hs-quotes .banner--top { display: none; }
    {% endif %}

    {% if module_data|attr('line_items_table')|attr('hidden') %}
      .hs-quotes .line-items { display: none; }
    {% endif %}

    {% if module_data|attr('terms')|attr('hidden') %}
      .hs-quotes .terms { display: none; }
    {% endif %}

    {% if !QUOTE.hs_esign_enabled && !QUOTE.hs_show_signature_box %}
      .hs-quotes .esign { display: none; }
    {% endif %}

    {% if module_data|attr('payment-schedule')|attr('hidden') || !ASSOCIATED_OBJECTS.payment_schedule %}
      .hs-quotes .payment-schedule { display: none; }
    {% endif %}

    {% if !QUOTE.hs_payment_enabled %}
      .hs-quotes .payment { display: none; }
    {% endif %}

    {% if module_data|attr('sender_contact')|attr('hidden') &&
      module_data|attr('sender_company')|attr('hidden')
    %}
      .hs-quotes .contacts { display: none; }
    {% endif %}

    {% if module_data|attr('download')|attr('hidden') &&
      module_data|attr('print')|attr('hidden')
    %}
      .hs-quotes .options { display: none; }
    {% endif %}
  </style>
{% end_require_css %}

<body class="hs-quotes cc-quote hs-quotes--modern">
  <div class="banner">
  <div class="banner--background" style="background:url({{widget_data.banner_img.src}});"></div>
  <div class="banner-overlay"></div>
    <div class="header">
      <div class="container">
        {% module "logo" path="../modules/quote_logo" 
          img={
          'override_inherited_src': true,
          'src': 'https://26578247.fs1.hubspotusercontent-eu1.net/hubfs/26578247/Website%202024/cc-talent-logo-with-tagline-black-gradient-dot.svg',
          'alt': 'CC talent logo',
          'width': 52,
          'height': 48
        }, %}
      </div>
    </div>
    <div class="colored-section  banner--top">
      <div class="container container-banner" >
        <div class="col col-6">
          {% module "Quote name"
              label="Quote name"
              path="@hubspot/rich_text"
              html="<p class=\"subtitle\">{{ personalization_token('template_data.quote.associated_objects.company.name', '') }}</p><h1>{{ personalization_token('template_data.quote.hs_title', '') }}</h1>"
          %}
        </div>
        <div class="quote-info_wrapper col col-6">
          <div class="right">
            <div class="card">
                <div class="group">
                    <p class="label">{{widget_data.date.value}}</p>
                    <div class="output">{% module "quote_created" path="../modules/quote_created" %}</div>
                </div>
                <div class="group expandable">
                    <p class="label">{{widget_data.company.value}}</p>
                    <div class="output">{% module "buyer_company" path="../modules/buyer_company" %}</div>
                </div>
                <div class="group expandable">
                    <p class="label">{{widget_data.for.value}}</p>
                    <div class="output">{% module "buyer_contacts" path="../modules/buyer_contacts" %}</div>
                </div>
                <div class="group">
                    <p class="label">{{widget_data.enddate.value}}</p>
                    <div class="output">{% module "quote_created" path="../modules/quote_expires" %}</div>
                </div>
                <div class="group">
                    <p class="label">{{widget_data.reference_title.value}}</p>
                    <div class="output">
                        {% module "reference"
                            label="Reference"
                            path="@hubspot/rich_text"
                            html="{{ personalization_token('template_data.quote.hs_quote_number', '') }}"
                        %}
                    </div>
                </div>
              
            </div>
          </div>  
        </div>
      </div>
    </div> 
  </div>
  
  <div class="container comments">
    <div class="comments-text_wrapper">
      {% module "comments"
        label="Comments"
        path="@hubspot/rich_text"
        html={{
          "<h2>" ~ template_translations.comments_from.message ~ " " ~ ptoken_sender_full_name ~ "</h2>" ~
          ptoken_comments
        }}
      %}
    </div>
  </div>

  <div class="container line-items">
    {% module "line_items_table"
      path="../modules/line_items_table",
      line_item_column=[
        {
          "column_title": template_translations.item_and_description.message,
          "column_property": "item_description"
        },
        {
          "column_title": template_translations.quantity.message,
          "column_property": "quantity"
        },
        {
          "column_title": template_translations.unit_price.message,
          "column_property": "price"
        },
        {
          "column_title": template_translations.total.message,
          "column_property": "amount"
        }
      ]
    %}
  </div>

  <div class="container terms">
    {% module "terms"
      label="Terms"
      path="@hubspot/rich_text",
      html={{
        "<h2>" ~ template_translations.purchase_terms.message ~ "</h2>" ~
        ptoken_terms
      }}
    %}
  </div>

  <div class="container esign">
    {% module "signature" path="@hubspot/quote_signature" %}
  </div>

  <div class="container payment-schedule">
    {% module "payment-schedule" path="@hubspot/quote_payment_schedule" %}
  </div>

  <div class="container payment">
    {% module "payment" path="@hubspot/quote_payment" heading_tag="h2" %}
  </div>

  <div class="container contacts">
    {% module "sender_contact" path="../modules/sender_contact" %}
    <br>
    {% module "sender_company"
      label="Sender company"
      path="@hubspot/rich_text"
      html="
        <div>{{ personalization_token('template_data.quote.hs_sender_company_name', '') }}</div>
        <div>{{ personalization_token('template_data.quote.hs_sender_company_address', '') }}</div>
        <div>{{ personalization_token('template_data.quote.hs_sender_company_address2', '') }}</div>
        <div>
        {{ personalization_token('template_data.quote.hs_sender_company_city', '') }},
        {{ personalization_token('template_data.quote.hs_sender_company_state', '') }}
        {{ personalization_token('template_data.quote.hs_sender_company_zip', '') }}
        </div>
        <div>{{ personalization_token('template_data.quote.hs_sender_company_country', '') }}</div>
      "
    %}
  </div>

  <div class="container options">
    <div class="option_wrapper">
      {% module "download" path="@hubspot/quote_download" %}
      {% module "print" path="../modules/print" %}
    </div>
  </div>
  <script>
    var expandableGroups = document.querySelectorAll('.expandable');

    expandableGroups.forEach(function(group) {
        group.addEventListener('click', function() {
            group.classList.toggle('open');
        });
    });
</script>
</body>
{% endblock body %}
