{# Contact section with information about the sender, including optional HubSpot avatar #}
{% set module_id = name|replace("module_", "")|replace("widget_", "") %}
{% from '../../imports/mock_data.html' import SAMPLE_TEMPLATE_DATA as mock_data %}
{% set QUOTE = template_data.quote || mock_data.quote %}
{% set HUBSPOT_BASE_URL = template_data.hubspot_base_url || mock_data.hubspot_base_url %}
{% set IMAGE_ID = "sender-user-avatar" ~ "_" ~ module_id %}

<div class="{{module_id}} cc-sender-module"{% if module.style.border_on %} style=" border:rgba({{module.style.border_color.color|convert_rgb }}, {{ module.style.border_color.opacity }}%) solid 2px; border-radius: 12px; padding: 1rem;" {% endif %}>
{% if module.heading_text %}
  <{{ module.heading_tag }}>{{ module.heading_text }}</{{ module.heading_tag }}> 
{% endif %}
<div class="cc-sender" style=" background-color:rgba({{ module.style.background_color.color|convert_rgb }}, {{ module.style.background_color.opacity }}%) ;     color:{{ module.style.text_color.color }};">
  <div class="image">
{% set match_found = false %}
{% for item in module.senders %}
    {% if QUOTE.hs_sender_lastname == item.cc_name %}
        {% set match_found = true %}
        {% if match_found == true %}
            {% set sizeAttrs = 'width="{{ item.sender_avatar.width|escape_attr }}" height="{{ item.sender_avatar.height|escape_attr }}"' %}
            {% if item.sender_avatar.size_type == 'auto' %}
                {% set sizeAttrs = 'width="{{ item.sender_avatar.width|escape_attr }}" height="{{ item.sender_avatar.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
            {% elif item.sender_avatar.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ item.sender_avatar.max_width|escape_attr }}" height="{{ item.sender_avatar.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
            {% set loadingAttr = item.sender_avatar.loading != 'disabled' ? 'loading="{{ item.sender_avatar.loading|escape_attr }}"' : '' %}
            <img src="{{ item.sender_avatar.src|escape_url }}" alt="{{ item.sender_avatar.alt|escape_attr }}" {{ loadingAttr }} width="{{ module.style.width_avatar }}">
            <style>
             .{{module_id}} img.false{
                display:none;
              }
            </style>
        {% endif %}
    {% endif %}
{% endfor %}
    
{% if match_found == false %}
    <div>
        <img class="{{match_found}}"
            src="https://static.hsappstatic.net/salesImages/static-1.362/avatars/default-avatar.png"
            alt="Sender avatar"
            id="{{ IMAGE_ID }}_{{module_id}}"
        />
    </div>
{% endif %}
    
    {% require_js position="head" %}
    <script type="application/json" data-module-instance="user-avatar">
        {
            "include_hubspot_avatar": {{ module.include_hubspot_avatar }},
            "hubspot_user_email": "{{ QUOTE.hs_sender_email }}",
            "hubspot_base_url": "{{ HUBSPOT_BASE_URL }}",
            "image_id": "{{ IMAGE_ID }}_{{module_id}}"
        }
    </script>
    {% end_require_js %}

  </div>
  <div class="info">
       <strong>{{ ptoken_sender_full_name }}</strong><br>
      {% if module.company_sender_on %}
            {{ personalization_token('template_data.quote.hs_sender_company_name', '') }}
      {% endif %}
      {% if module.contact_info_on %}
         {{ module.contact_information }}
    {% endif %}   
  </div>
 </div>
</div>
